@import "tailwindcss";

@layer tailwind-base, antd;

@tailwind utilities;

/* 
colour theme
#F5FAF6 - light grey/white/green
#FFFFFF - white
#3D9A50 - primary green
#1C7532 - secondary green
#011A07 - text
*/

@theme {
  --color-background: var(--bg);
  --color-surface: var(--surface);
  --color-foreground: var(--text);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
}

:root {
  --bg: #F5FAF6;
  --surface: #FFFFFF;
  --text: #011A07;
  --primary: #55B569;
  --primary-dark: #1C7532;


  --text-h: var(--text); 
  --border: #E2EDE4;
  --code-bg: #EAF2EC;
  
  --accent: var(--primary);
  --accent-bg: rgba(85, 181, 105, 0.1); /* #55B569 at 10% opacity */
  --accent-border: rgba(85, 181, 105, 0.5); /* #55B569 at 50% opacity */
  
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}